*.class
*.log

# sbt specific
.cache
.history
.lib/
libs/
logs/
dist/*

project/project
project/target/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

.project

# OS X
Icon
Thumbs.db
.DS_Store

# SASS
*.sass-cache

# Gradle
build/
.gradle/
out/

woas.spec
