<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%-50.50logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %X{sessionid}-%X{user} %caller{1} %-4level: %message%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>./logs/akka-http-circe-geoip-heroku.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/akka-http-circe-geoip-heroku-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%-50.50logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="akka.actor" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="akka.http" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="akka.stream" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- level attribute is not necessary since the level of the root level is set to DEBUG by default -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
